.about__texts{
    color: #ccc;
    blockquote{
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        line-height: 2;
        font-size: 18px;
        font-weight: 200;
        gap: 2px;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: none;
        margin-bottom: 50px;
    }
}