//scrrollbar styling
::-webkit-scrollbar {
  width: 10px;
  background-color: #011017;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #c5ebff;
}



//basic styling [css reset]

*{
    margin:0;
    box-sizing:border-box;

    &:before,&:after{
        box-sizing:border-box;

    }

}

::selection {
  background: #003138 ; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #003138 ; /* Gecko Browsers */
}

body{
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #eee;
    background-color: #011017 !important;
    // -webkit-user-select: none; /* Safari */
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* Internet Explorer/Edge */
    // user-select: none; /* Standard */
    
    scroll-behavior: smooth;
    
}

button,textarea,input,select{
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}

img,video,canvas,svg{
    max-width: 100%;
}

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    border:none;
    outline: none;
}



//other global styles

.rule__title{
    height: 2px;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(98, 96, 96);
    border: none;
    text-align: center;
}

.main__rule{
    height: 3px;
    width: 100%;
    
 
    background-color: rgb(98, 96, 96);
}

.main__background{
    background-color: #011017;
    margin:auto !important;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.title__heading{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}


//slider css


@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.main__author{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 866px){
  .main__author{
    display: flex;
    flex-direction: column;
    blockquote{
      font-size: 12px;
    }
  
  }

}








//navbar styling
header {

  padding: 10px 20px;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  float: left;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

.nav-links a {
  // color: #333;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #eec;
}

.burger {
  display: none;
  cursor: pointer;
  float: right;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .burger {
    display: block;
  }
}

.active {
  transform: translateX(100%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



//navbar

//blogcard

.card__elms{
  width: 340px;
  height: 400px;
  border-radius: 5%;
  box-shadow:1px 2px 3px 4px 
  #011a26;
  // display: flex;
  word-wrap: break-word;
  margin-left: 25px;;
  margin-top: 60px;
  transition: all 0.5s ease-in-out;
  background-image:url("https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGRhcmt8ZW58MHx8MHx8&auto=format&fit=crop&w=2000&q=60") ;
  h4{
      display: flex;
      align-items: flex-end;
        padding-top: 50%;
        font-size: 20px !important;
        word-wrap: break-word;
       
   
    
      
      }h4,blockquote,span{
          padding-left: 3%;
          white-space: pre-wrap;
          font-size: 14px;
      }blockquote,span{
          color:#ccc;
      }
      blockquote{
          margin-top: 2px;
      }
      p{
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding-right: 20px;
          line-height: 2;
          font-weight: 600;
          color: rgb(159, 158, 158);
          svg{    margin-right: 10px;
              margin-bottom: 10px;
          }
      }
      span{
          line-height: 0.5;
          font-weight: 700;
          font-size: 16px;
      }
    
}
.card__main{
  display: inline-flex;
  flex-direction: row;
}
.card__elms:hover{
  width: 390px;
  height:420px ;
  cursor: pointer;
  color: #9f9b9b;
  h4{text-decoration: underline;}
  

}
@media screen and (max-width: 866px){
  .card__main{
      display: block;
  }
  .card__elms{
      width: 300px;
      height: 360px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      h4{
          font-size: 16px !important;
      }
      blockquote{
          font-size: 12px;
      }
      span{
          font-weight: 600;
      }
  }
  .card__elms:hover{
      width: 320px;
      height:390px ;
      cursor: pointer;
      color: #9f9b9b;
      h4{text-decoration: underline;}
      
  
  }
}

.under__hr{
  margin-top: 50px;
}

//navbar2

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #011a26;
  color: #fff;
}

.logo {
  height: 90px;
  margin: 0;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
  &:hover{
    color:#ccc;
    font-size: 22px;
  }
}

.links_author_socials{
  font-weight: 600;
  transition: all ease-in-out 0.5s;

  &:hover{

    color:rgb(65, 65, 220);
    font-size: 13px;
  }
}
